<?xml version="1.0" encoding="UTF-8"?>

<routes>
{{#routes}}
  <route id="{{id}}" edges="{{edges}}"/>
{{/routes}}

{{#vehicles}}
  <vehicle id="{{id}}" type="car" route="{{route-id}}" depart="0" color="1,1,0" departPos="{{depart-pos}}"/>
{{/vehicles}}

{{#flows}}
  <flow id="{{id}}" type="car" route="{{route-id}}" begin="0" color="1,1,0" vehsPerHour="{{vehsPerHour}}" />
{{/flows}}
</routes>
