<additional xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.sf.net/xsd/additional_file.xsd">

{{#tls}}
  <tlLogic id="{{id}}" type="static" programID="{{program-id}}" offset="0">
  {{#phases}}
    <phase duration="{{duration}}" state="{{state}}"/>
  {{/phases}}
  </tlLogic>
{{/tls}}

</additional>
